.country{
    border : 2px solid rgb(214, 206, 201);
    /* background-color: rgb(102, 97, 97); */
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    background-color: #0f1b2c;   /* dark grey */
    color: white;
    /* align-items: center; */
}
.country:hover{
    background-color: #374151;
    transform: scale(1.03);
    transition: 0.3s;
}
.country img{
    /* border : 2px solid salmon; */
    /* text-align: center; */
    display: block;
    width: 100%;
    margin: 0px auto;
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-items: center; */
    border-radius: 20px;
}
.country p{
    color: white;
    font-weight:lighter;
}

.country-visited{
    background-color: #054639;
    color: white;
    font: bold;
    border: none;
}
.country-visited p{
    /* background-color: rgb(144, 9, 9); */
    color: rgb(255, 255, 255);
    font-weight: lighter;
}
.visited-btn{
    background-color: #0e2659;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 10px 0px 0px;
    border: none;
    box-shadow: 2px;
}
.visited-btn:hover{
    cursor: pointer;
    background-color: rgb(19, 18, 18);
}
.visited{
    background-color: #22c55e;
}
/* .country-container{
    display: flex;
    justify-items: center;
    justify-content: start;
    gap: 5px; 
    margin: 0px 0px 0px 0px;
} */